.form
{
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-between;
}

button{
  height: 10%;
  margin-top: 1%;
  margin-right: 0px;
}

mat-form-field{
    width: 45%;
    height: auto;
    margin-top: 4%;
    background-color: none;
}