<main class="container">
  <!--<h2>Welcome to your assignments management application !</h2>-->
  <div class="filter-container">
    <!-- Ajout d'un champ de recherche -->
    <div class="search-container">
      <!--<input matInput placeholder="Recherche par Nom d'Assignment" (input)="r==$event.value">-->
      <mat-form-field >
        <mat-label>Recherche</mat-label>
        <input matInput
          [(ngModel)]="r"
          (keyup)="loadAssignments()"
          placeholder="par Nom d'Assignment" #input>
      </mat-form-field>
    </div>
    <!--<mat-radio-group (change)="filterValue==$event.value">
      <a>Filtre sur le rendu :</a>
      <mat-radio-button value="all">Tous</mat-radio-button>
      <mat-radio-button value="rendu">Rendus</mat-radio-button>
      <mat-radio-button value="nonRendu">Non Rendus</mat-radio-button>
    </mat-radio-group>-->
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      (change)="loadAssignments()"
      [(ngModel)]="filterValue">
      <a>Filtre sur le rendu :</a>
      <mat-radio-button class="example-radio-button" value="all">Tous</mat-radio-button>
      <mat-radio-button class="example-radio-button" value="rendu">Rendus</mat-radio-button>
      <mat-radio-button class="example-radio-button" value="nonRendu">Non Rendus</mat-radio-button>
    </mat-radio-group>
  </div>
  <section style="height: 400px" class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table #table [dataSource]="flatAssignments" matSort class="mat-elevation-z8">
  
      <!-- Colonne Nom avec tri -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.nom}} </td>
      </ng-container>
  
      <!-- Colonne Date de Rendu -->
      <ng-container matColumnDef="dateDeRendu">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de Rendu </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.dateDeRendu | date}} </td>
      </ng-container>
  
      <!-- Colonne Rendu -->
      <ng-container matColumnDef="rendu">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rendu </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.rendu ? 'Oui' : 'Non'}} </td>
      </ng-container>

      <!-- Colonne Remarque -->
      <ng-container matColumnDef="remarque">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Remarque </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.remarque}} </td>
      </ng-container>

      <!-- Colonne nomMatiere -->
      <ng-container matColumnDef="nomMatiere">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom Matiere </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.matiere_nom}} </td>
      </ng-container>

      <!-- Colonne enseignant -->
      <ng-container matColumnDef="enseignant">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Enseignant </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.matiere_enseignant}} </td>
      </ng-container>

      <!-- Colonne imageProf -->
      <ng-container matColumnDef="imageProf">
        <th mat-header-cell *matHeaderCellDef> Image Prof </th>
        <td mat-cell *matCellDef="let assignment"> <img [src]="assignment.matiere_imageProf"> </td>
      </ng-container>

      <!-- Colonne imageMatiere -->
      <ng-container matColumnDef="imageMatiere">
        <th mat-header-cell *matHeaderCellDef> image Matiere </th>
        <td mat-cell *matCellDef="let assignment"> <img [src]="assignment.matiere_imageMatiere"> </td>
      </ng-container>

      <!-- Colonne detail -->
      <!-- Dans votre composant de tableau d'assignments -->
      <ng-container matColumnDef="detail">
        <th mat-header-cell *matHeaderCellDef> Détail </th>
        <td mat-cell *matCellDef="let assignment">
          <button mat-button (click)="openDetailsPopup(assignment)">Détail</button>
        </td>
      </ng-container>


      <!-- Colonne edit -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let assignment">
          <button class="matButRaised" mat-raised-button color="primary" (click)="onClickEdit(assignment)" [disabled]="!isConnected()">Edit</button>
        </td>
      </ng-container>      
  
      <!-- En-têtes de colonnes -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
  
      <!-- Lignes de données -->
      <tr mat-row *matRowDef="let assignment; columns: displayedColumns;"></tr>
    </table>
  </section>
  <mat-paginator [length]="totalAssignments"
              [pageSize]="pageSize"
              [pageSizeOptions]="[10, 20, 50, 100, 200, 1000, 1100]"
              showFirstLastButtons="true"
              (page)="onChangePage($event)">
  </mat-paginator>
</main>
