<main class="container">
  <!--<h2>Welcome to your assignments management application !</h2>-->
  <div class="filter-container">
    <!-- Ajout d'un champ de recherche -->
    <div class="search-container">
      <input matInput placeholder="Recherche par Nom d'Assignment" (input)="onSearchInput($event)">
    </div>
    <mat-radio-group (change)="applyFilter($event.value)">
      <a>Filtre sur le rendu :</a>
      <mat-radio-button value="all">Tous</mat-radio-button>
      <mat-radio-button value="rendu">Rendus</mat-radio-button>
      <mat-radio-button value="nonRendu">Non Rendus</mat-radio-button>
    </mat-radio-group>
  </div>
  <section style="height: 400px" class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table #table [dataSource]="flatAssignments" matSort class="mat-elevation-z8">
  
      <!-- Colonne Nom avec tri -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.nom}} </td>
      </ng-container>
  
      <!-- Colonne Date de Rendu -->
      <ng-container matColumnDef="dateDeRendu">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de Rendu </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.dateDeRendu | date}} </td>
      </ng-container>
  
      <!-- Colonne Rendu -->
      <ng-container matColumnDef="rendu">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rendu </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.rendu ? 'Oui' : 'Non'}} </td>
      </ng-container>

      <!-- Colonne Remarque -->
      <ng-container matColumnDef="remarque">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Remarque </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.remarque}} </td>
      </ng-container>

      <!-- Colonne nomMatiere -->
      <ng-container matColumnDef="nomMatiere">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom Matiere </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.matiere_nom}} </td>
      </ng-container>

      <!-- Colonne enseignant -->
      <ng-container matColumnDef="enseignant">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Enseignant </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.matiere_enseignant}} </td>
      </ng-container>

      <!-- Colonne imageProf -->
      <ng-container matColumnDef="imageProf">
        <th mat-header-cell *matHeaderCellDef> Image Prof </th>
        <td mat-cell *matCellDef="let assignment"> <img [src]="assignment.matiere_imageProf"> </td>
      </ng-container>

      <!-- Colonne imageMatiere -->
      <ng-container matColumnDef="imageMatiere">
        <th mat-header-cell *matHeaderCellDef> image Matiere </th>
        <td mat-cell *matCellDef="let assignment"> <img [src]="assignment.matiere_imageMatiere"> </td>
      </ng-container>
  
      <!-- En-têtes de colonnes -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
  
      <!-- Lignes de données -->
      <tr mat-row *matRowDef="let assignment; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="20" [pageSizeOptions]="[20, 50, 100, 200]" showFirstLastButtons></mat-paginator>
  </section>
  
</main>
