/* Style par défaut pour les écrans plus larges */
mat-toolbar {
  height: 60px; /* Hauteur standard pour les grands écrans */
  /* Autres styles généraux */
}

/* Réduction de la hauteur pour les tablettes */
@media (max-width: 768px) {
  mat-toolbar {
    height: 50px; /* Hauteur réduite pour les tablettes */
  }
}

/* Réduction supplémentaire pour les téléphones mobiles */
@media (max-width: 480px) {
  mat-toolbar {
    height: 40px; /* Hauteur encore plus réduite pour les téléphones mobiles */
  }
}


h1 {
    color:red;
}

mat-sidenav-container {
    height: auto;
  }

mat-drawer {
    width: auto;
    text-align: center;
    display: table-cell;
  }

.app-container {
    display: flex;
    flex-direction: column;
    height: auto; /* Assure que le contenu prend toute la hauteur de la fenêtre */
}

a {
  color: rgb(239, 218, 218);
  font-size: auto;

}

.matButRaised {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.ButLogin {
  margin-left: 20px;
  color: white;
}

a {
  color: rgb(239, 218, 218);
  font-size: auto;
}

/* Classe appliquée lorsque c'est la page d'accueil */
.f-home {
  margin-top: 750px;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Classe appliquée sur toutes les autres pages */
.f {
  color: turquoise;
  /* Ajoutez ici toute autre propriété CSS que vous souhaitez appliquer sur les autres pages */
}

mat-toolbar-row {
  display: flex;
  align-items: center;
  justify-content:flex-start;
}


.example-icon, .home-icon, h1, .composant {
  margin-right: 10px; /* Espacement entre les éléments */
}

.example-spacer {
  padding: 25px;
}

.composant {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
  margin: 10px;
  padding: 10px;
}

button[mat-button] {
  margin-left: 10px; /* Espacement à gauche du bouton */
}

.deconnecteeButton{
  margin-left: auto;
  display: block;
}

.example-spacer2 {
  margin-left: 10vw;  /* Utilise un pourcentage de la largeur de la fenêtre de visualisation */
  padding-right: 1vw;
}

