<router-outlet></router-outlet>
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>
      <nav><a routerLink="/home">{{title}}</a></nav>
    </h1>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon home-icon" aria-label="Example icon-button with heart icon" routerLink="/home">
      <mat-icon>home</mat-icon>
    </button>
    <span class="example-spacer"></span>

     &nbsp;
    <div class="composant">
      <a *ngIf="!isLoggedIn()"> 
        <app-login></app-login>
      </a>
      <span class="example-spacer2"></span>
      <a *ngIf="isLoggedIn()" mat-button>
        Connecté en tant que {{currentUser.login}}
      </a>
      <a *ngIf="isLoggedIn()" mat-button (click)="logOut()"> 
        <button mat-button color="accent"> <mat-icon>logout</mat-icon>Se déconnecter</button> 
      </a>
    </div>
  </mat-toolbar-row>  
</mat-toolbar>

<mat-sidenav-container>
<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side">
      <mat-list>
      <button color="primary" mat-icon-button class="example-icon home-icon" aria-label="Example icon-button with heart icon" routerLink="/home">
        <mat-icon>home</mat-icon>
      </button>
      </mat-list>
        <button class="matButRaised" mat-raised-button color="primary" (click)="navigateTo('/list')" (click)="doSomething()">Liste des devoirs</button>
        <button class="matButRaised" mat-raised-button color="primary" (click)="navigateTo('/add')" (click)="doSomething()">Ajout d'un devoir</button>
        <button class="matButRaised" mat-raised-button color="primary" (click)="navigateTo('/change')">Modification d'un devoir</button>
        <button class="matButRaised" mat-raised-button color="primary" (click)="navigateTo('/delete')">Suppression d'un devoir</button>
        <button class="matButRaised" mat-raised-button color="primary" (click)="navigateTo('/tests')">Génération de données de test</button>
  </mat-drawer>
  <mat-drawer-content>
    <!-- Afficher le message si l'utilisateur n'est pas connecté -->
    <!--<h1 *ngIf="afficheMessage" class="alert-message">Vous n'êtes pas connecté, veuillez vous connecter</h1>-->
    <router-outlet></router-outlet>
    <!--Ajout footer-->
  </mat-drawer-content>
</mat-drawer-container>
</mat-sidenav-container>

<!-- Bouton pour peupler la base de données -->
<button *ngIf="afficheButton" class="matButRaised" mat-raised-button color="primary" (click)="peuplerBD()" disabled>Peupler la base de données Assignments</button>
<button *ngIf="afficheButton" class="matButRaised" mat-raised-button color="primary" (click)="peuplerBDMatieres()">Peupler la base de données Matières</button>
<button *ngIf="afficheButton" class="matButRaised" mat-raised-button color="primary" (click)="peuplerBDEleves()">Peupler la base de données Elèves</button>

<!-- Utilisez ngClass pour appliquer conditionnellement une classe en fonction de l'URL -->
<div class="footers" [ngClass]="{'f-home': isHomePage(), 'f': !isHomePage()}">
  <app-footer></app-footer>
</div>
