html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.add {
  min-height: 100%; /* Assurez-vous que le conteneur prend toute la hauteur de l'écran */
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

mat-horizontal-stepper {
  background-color: white;
  min-height: 400px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style pour les étapes individuelles */
.mat-step-header {
  width: calc(100% / 3); /* Ajustez selon le nombre d'étapes */
  max-width: none;
}


.stepper-text {
  font-size: 18px;
  color: #4a4a4a;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}

.butA {
  margin-top: 20px;
  width: 200px;
}

