<div class="add">
  <form [formGroup]="assignmentForm" (ngSubmit)="onSubmit()">
    <mat-horizontal-stepper #stepper>
      <!-- Étape 1 : Nom de l'Assignment -->
      <mat-step [stepControl]="assignmentForm.controls['firstFormGroup']">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Informations de l'Assignment</ng-template>
          <mat-form-field>
            <mat-label>Nom :</mat-label>
            <input matInput placeholder="Nom du devoir" formControlName="nomDevoir">
            <!-- Utiliser la syntaxe d'accès par index pour 'nomDevoir' -->
            <mat-error *ngIf="firstFormGroup.controls['nomDevoir'].invalid && firstFormGroup.controls['nomDevoir'].touched">
              Le nom du devoir est obligatoire.
            </mat-error>
          </mat-form-field>          
          <mat-form-field>
            <mat-label>Remarque :</mat-label>
            <input matInput placeholder="Remarque " formControlName="remarque">
          </mat-form-field>
          <!-- Champ pour sélectionner la matière -->
          <mat-form-field>
            <mat-label>Matière :</mat-label>
            <mat-select formControlName="matiere">
              <mat-option *ngFor="let matiere of matieres" [value]="matiere.idMatiere">
                {{ matiere.nom }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="firstFormGroup.controls['matiere'].invalid && firstFormGroup.controls['matiere'].touched">
              La matière est obligatoire.
            </mat-error>
          </mat-form-field>          
          <button mat-button matStepperNext>Suivant</button>
        </form>
      </mat-step>

      <!-- Étape 2 : Date de Rendu -->
      <mat-step [stepControl]="assignmentForm.controls['secondFormGroup']">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Date de Rendu</ng-template>
          <mat-form-field>
            <mat-label>Choisissez une date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateRendu">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <button mat-button matStepperPrevious>Précédent</button>
          <button mat-button matStepperNext>Suivant</button>
        </form>
      </mat-step>

      <!-- Autres étapes si nécessaire -->

      <!-- Étape Finale : Bouton d'envoi -->
      <mat-step>
        <ng-template matStepLabel>Terminer</ng-template>
        <p class="stepper-text">Tout est prêt ! Ajoutez le devoir maintenant.</p>
        <button mat-button (click)="resetForm()">Réinitialiser</button>
        <button class="butA" mat-raised-button color="accent" (click)="onSubmit()" [disabled]="enCoursDeSoumission || assignmentForm.invalid">Ajouter devoir</button>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
